.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.blocky {
  font-family: 'Alice', serif;
}

.title {
  text-align: center;
}

.scripty {
  font-family: 'Sacramento', cursive;
}

.col-md-1, .alert {
  text-align: center;
}
